.title2 {
  width: 600px;
  line-gap-override: 0.5cm;
  color: black;
  margin: auto;
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .title2_border {
    width: 300px;
    height: 2px;
    background-color: #27ac1f;
    margin: auto;
  }
}
